body {
    box-sizing: border-box;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    padding: 0;
}

.container-fluid {
    padding: 0;
    background-color: #ffffff;
}

.btn-book {
    font-family: Jockey One, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    color: #ffffff;
    background-color: #2460B0;
    border: none;
    border-radius: 15px;
    margin: 0 20px 0 18px;
}

.btn-book:hover {
    color: #2460B0;
    background-color: #ffffff;
    border: 2px solid #2460B0;
    border-radius: 15px;
    padding: 4px 14px;
}

.toggle-icon {
    margin-right: 15px;
}

.nav-link {
    font-family: Jockey One, sans-serif;
    font-size: px;
    font-weight: 400;
    color: #2460B0;
}

.nav-link:hover {
    color: #D87118;
}

.nav-link:focus {
    color: #D87118;
}

.navbar-toggler {
    border: none;
    outline: none;
    padding:  3px 2px;
}

.navbar-toggler:focus {
    box-shadow: none; 
    border: 3px solid #D87118;
}

.search-bar {
    outline: none;
    border: 2px solid #D87118;
    border-radius: 15px;
    padding: 6px;
}

.hero-section {
    background-color: #d872181f;
}

.display-5 {
    color: #2460B0;
}

.btn-now {
    font-family: Jockey One, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    color: #D87118;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
}

.btn-learn {
    font-family: Jockey One, sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    color: #D87118;
    background-color: #ffffff;
    border: 4px solid #D87118;
    border-radius: 15px;
}

/* hides need help button when search bar appears */
@media (min-width: 494px) {
    .help-center {
        display: none;
    }
}

/* Hides search bar until 493px - after that it shows */
@media (max-width: 499px) {
    .search-bar {
        display: none;
    }
}

/* Width of search bar changes based on screen size */
@media (min-width: 768px) {
    .search-bar {
        width: 350px;
    }
}

@media (min-width: 992px) {
    .search-bar {
        width: 280px;
    }
}

@media (min-width: 993px) {
    .search-bar {
        width: 180px;
    }
}

@media (min-width: 1430px) {
    .search-bar {
        width: 680px;
    }
}
